<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NJAB</title>
</head>
<body style="padding: 10px">
    <h1 class="mb-4"> About Me </h1>
    <h4>Hello, I am Himanshu Garg, a competitive programmer, 
    a cs undergrad studying in IIT Patna, prefinal year(soon to be). 
    I have made this blog to share my experiences and learnings during my journey to being a candidate master on codeforces.
    <br><br>
    You can contact me at my email: himanshugarg1703@gmail.com </h4>
    <hr>
</body>
</html>